/*HERO*/
.hero {
    position: relative;
    height: 100vh;
    max-height: 962px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 2px white;
    white-space: nowrap;
}

/* FILTERS */
.photo-filters {
    max-width: 1148px;
    margin: 80px auto 40px;
    display: flex;
    justify-content: space-between;
}

.left-filters {
    display: flex;
    gap: 36px;
}

.right-filters {
    display: flex;
}

.custom-select {
    width: 260px;
    position: relative;
}

.select {
    height: 42px;
    border: 1.3px solid #B8BBC2;
    border-radius: 8px;
    padding: 0 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    cursor: pointer;
}

.select-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.custom-select.open .select {
    border-color: #215AFF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options-list {
    display: none;

    list-style: none;
    margin: 0;
    padding: 0;

    background: #FFFFFF;

    box-shadow: 0 8px 20px #EFEFEF;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.custom-select.open .options-list {
    display: block;
}

.filter-arrow img {
    transition: transform 0.3s ease;
}

.custom-select.open .filter-arrow img {
    transform: rotate(180deg);
}

.options-list li {
    padding: 12px 18px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
}

.options-list li:hover {
    background: #E00000;
    color: #FFFFFF;
}

.options-list li.active {
    background: #E00000;
    color: #FFFFFF;
}

.reset-option {
    height: 15px;
}

/*gallery*/
.photo-gallery {
    max-width: 1148px;
    margin: 40px auto;
}

.photo-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-gallery-grid .photo-card {
    width: 564px;
}

.photo-gallery-grid .photo-card > img {
    width: 100%;
    height: 495px;
    object-fit: cover;
    display: block;
}

/*BUTTON*/
.load-more-button {
    display: block;
    width: 272px;
    height: 50px;
    margin: 40px auto 0;
    border: none;
    border-radius: 2px;
    background-color: #D8D8D8;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
}

.load-more-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/*responsive*/
@media screen and (max-width: 768px) {

    .hero {
        height: 253px;
    }

    .hero h1 {
        -webkit-text-stroke: 1px white;
    }

}

@media screen and (max-width: 768px) {

    .photo-filters {
        margin: 25px auto 25px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .left-filters {
        flex-direction: column;
        gap: 8px;
    }

        #format {
        order: 1;
    }

        #categorie {
        order: 2;
    }

    .right-filters {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-select {
        width: 270px;
    }

}

@media screen and (max-width: 768px) {

    .photo-gallery {
        margin: 0 auto 40px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .photo-gallery-grid {
        flex-direction: column;
        gap: 25px;
    }

    .photo-gallery-grid .photo-card {
        width: 100%;
        max-width: 317px;
        margin: 0 auto;
    }

    .photo-gallery-grid .photo-card > img {
        width: 100%;
        height: 279px;
        object-fit: cover;
        display: block;
    }

}


