/*HERO*/
.hero {
    position: relative;
    height: 100vh;
    max-height: 962px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 2px white;
    white-space: nowrap;
}

/*.hero {
    position: relative;
    height: 100vh;
    max-height: 962px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: transparent;
    -webkit-text-stroke: 2px white;

    white-space: nowrap;
}*/

/*gallery*/
.photo-gallery {
    max-width: 1148px;
    margin: 80px auto;
}

.photo-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.photo-gallery-grid .photo-card {
    width: 564px;
}

.photo-gallery-grid .photo-card > img {
    width: 100%;
    height: 495px;
    object-fit: cover;
    display: block;
}

/* FILTERS */
.photo-filters {
    max-width: 1148px;
    margin: 80px auto 40px;
    display: flex;
    justify-content: space-between;
}

.filters-left {
    display: flex;
    gap: 36px;
}

.photo-filters select {
    width: 260px;
    height: 42px;
    border: 1.3px solid #B8BBC2;
    border-radius: 8px;
    padding: 0 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
}

/*BUTTON*/
.load-more-button {
    display: block;
    width: 272px;
    height: 50px;
    margin: 40px auto 0;
    border: none;
    border-radius: 2px;
    background-color: #D8D8D8;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
}

.load-more-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}